body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #850B0B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-area img {
    height: 60px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.login-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.login-box {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}
.user-icon {
    font-size: 90px;
    color: #656061;
    margin-top: -30px;   /* lo sube */
    margin-bottom: 10px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    color: #850B0B
}


input {
    width: 90%;
    padding: 10px;
    margin: 10px 0px 20px 0;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #850B0B;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5f0808;
}