body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #850B0B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-area img {
    height: 60px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.login-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.login-box {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.user-icon {
    font-size: 90px;
    color: #656061;
    margin-top: -30px;
    /* lo sube */
    margin-bottom: 10px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    color: #850B0B
}


input,
textarea,
select {
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
    margin: 10px 0px 20px 0;
}

.password-container {
    position: relative;
    width: 90%;
    margin: 10px 0px 20px 0;
    display: inline-block;
}

.password-container input {
    width: 100% !important;
    margin: 0 !important;
    padding-right: 40px !important;
}

.password-container .toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #656061;
    font-size: 1.1rem;
}

.password-container .toggle-password:hover {
    color: #850B0B;
}

textarea {
    field-sizing: content;
    min-height: 3rem;
    resize: vertical;
}

.btn-ingresar {
    width: 50%;
    padding: 10px;
    background-color: #850B0B;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-ingresar:hover {
    background-color: #5f0808;
}

.clean-btn {
    width: 50%;
    padding: 10px;
    background-color: #656061;
    color: white;
    border: none;
    cursor: pointer;
}

.clean-btn:hover {
    background-color: #454142;
}

.is-invalid {
    border-color: red !important;
    outline: none;
    margin-bottom: 0;
}

.alert-msg {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: red;
    align-self: flex-start;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn-back {
    background: #6c757d;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

.error-alert {
    gap: 12px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fceaea;
    border: 2px solid #ff0000;
    color: #d9534f;
    border-radius: 2px;
    font-size: 15px;
}

.modal-logout {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.hidden-logout {
    display: none;
}


.logout-box {
    background: #FFFFFF;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.logout-box .clean-btn,
.logout-box .btn-ingresar {
  width: auto;
  border-radius: 7px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
